@import "../../../AppConsts.scss";
.container {
  width: 100%;
}

.table {
  width: 100%;
  // background: #ffffff;
  // border: 1px solid #c7c7c7;
  // box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  margin-top: 30px;
  gap: 10px;
}
.relative {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

%table_row {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 80px;
  position: relative;
  padding: 20px 20px 20px 30px;
  @media screen and (max-width: 1050px) {
    flex-wrap: wrap;
  }
  @media screen and (max-width: $mobile) {
    padding: 20px;
  }
}

.level1_row {
  @extend %table_row;
  background: #fff;
  box-shadow: 0px 0px 20px 0px rgba(194, 225, 225, 0.61);
}
.level_row {
  @extend %table_row;
  border-bottom: 1px solid $GREEN;
}
.level {
  color: #000;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-align: center;
  width: 10%;
}
.open_close {
  width: 5%;
  text-align: end;
}
.table_column {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  width: 25%;
  // @media screen and (max-width: 1050px) {
  //   width: 48%;
  //   margin-bottom: 20px;
  //   gap: 5px;
  // }
  @media screen and (max-width: $mobile) {
    width: 35%;;
  }
}
.email {
  @media screen and (max-width: $mobile) {
    display: none;
  }
}

.cell_name {
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  color: #969696;
}
.cell_login {
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  color: #284c63;
}
.cell_date {
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #284c63;
}
.cell_sum {
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  color: #64aeca;
}
