.paper {
  margin: 31px 0;
//   padding: 31px 29px;

  @media screen and (max-width: 760px) {
    // padding: 20px;
  }
}

.title_flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 50px;
  min-height: 100px;

  @media screen and (max-width: 760px) {
    margin-bottom: 20px;
  }
}
