.paper {
  background: #fff;
  margin: 22px 0;
  box-shadow: 0px 4px 20px 0px rgba(194, 225, 225, 0.47);
  padding: 31px 29px;
  color: var(--gray-2, #4f4f4f);
  font-size: 12px;
  font-family: Inter;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  background-image: url("../../../assets/images/PortfBG1.png");
  background-size: auto;
  background-position: left top;
  background-repeat: no-repeat;
  overflow: hidden;

  @media screen and (max-width: 760px) {
    padding: 20px;
  }
}

.title_flex {
  display: flex;
  gap: 9px;
  margin: 40px 20px 30px 0px;
  color: #008080;
  font-family: Inter;
  font-size: 40px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: uppercase;

  @media screen and (max-width: 760px) {
    margin-bottom: 20px;
  }
}

.settings {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  color: var(--gray-1, #333);
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  position: relative;
  top: -50px;
  text-align: justify;
  cursor: pointer;
  // background-color: #008080;
}

.main {
  display: flex;
  width: 100%;
  flex-direction: column;
  gap: 20px;

  color: #000;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: 160%; /* 22.4px */
}

.orange_text {
  color: #ff7f50;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: uppercase;
}
.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}
.product_box {
  background: #fff;
  box-shadow: 0px 0px 20px 0px rgba(194, 225, 225, 0.61);
  min-height: 530px;
  min-width: 200px;
  width: 31.5%;
  padding: 30px;
  color: #000;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: 160%; /* 22.4px */
  display: flex;
  flex-direction: column;
  gap: 20px;
  @media screen and (max-width: 1300px) {
    width: 48%;
  }

  @media screen and (max-width: 1050px) {
    width: 100%;
  }
}
.bold {
  color: #000;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  b {
    font-size: 26px;
  }
}
.image {
  width: 100%;
  max-height: 200px;
  overflow: hidden;
}

.product_info_box {
  background: #fff;
  box-shadow: 0px 0px 20px 0px rgba(194, 225, 225, 0.61);
  min-height: 530px;
  width: 100%;
  padding: 30px;
  color: #000;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: 160%; /* 22.4px */
  display: flex;
  gap: 20px;
}
.info_image {
  width: 40%;
  overflow: hidden;
  position: relative;
  img {
    object-fit: cover;
    width: 100%;
  }
}
.small_img_cont {
  display: flex;
  max-width: 40px;
  flex-direction: column;
  gap: 20px;
  position: absolute;
  top: 10px;
  left: 10px;
  overflow: hidden;
  img {
    object-fit: cover;
  }
}
.info_main {
  width: 60%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.art {
  color: var(--gray-3, #828282);
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: 160%; /* 22.4px */
}
.button_flex {
  display: flex;
  width: 100%;
  gap: 20px;
}

.product_cart_box {
  background: #fff;
  min-height: 150px;
  width: 100%;
  padding: 30px;
  color: #000;
  color: #000;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: 160%; /* 22.4px */
  display: flex;
  gap: 20px;
  border-bottom: 1px solid #e0e0e0;
  // align-items: center;
}
.cart_image {
  width: 15%;
  justify-self: center;
  align-self: center;
}
.cart_main {
  width: 60%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.cart_end {
  width: 20%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: end;
}
.cart_price {
  color: #000;
  font-family: Inter;
  font-size: 26px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  margin: 20px 0 30px 0;
  b {
    color: #000;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }
}

.comment {
  color: #000;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.textarea {
  margin: 10px 0 30px;
}
.modal {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
  color: #000;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}
.modal_header {
  color: #212121;
  text-align: center;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.prod_container {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 30px 0;
}
.link_back {
  color: var(--gray-2, #4f4f4f);
  font-feature-settings: "clig" off, "liga" off;
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 18px */
  padding-bottom: 20px;
}
