@import "../../../../AppConsts.scss";
.page_container {
  background: #fff;
  box-shadow: 0px 4px 50px 0px rgba(194, 225, 225, 0.47);
  width: 100%;
  min-height: 230px;
  padding: 36px;
  display: flex;
  margin: 20px 0;

  color: #000;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  position: relative;

  @media screen and (max-width: 760px) {
    padding: 16px;
  }
}
.box1 {
  display: flex;
  width: 45%;
  flex-direction: column;
  gap: 15px;
  @media screen and (max-width: 1050px) {
    width: 100%;
  }
}
.box2 {
  display: flex;
  width: 30%;
  flex-direction: column;
  gap: 15px;
  justify-content: center;
  @media screen and (max-width: 760px) {
    width: 100%;
  }
}
.box2m {
  display: flex;
  // width: 30%;
  flex-direction: column;
  gap: 15px;
  justify-content: center;
  position: absolute;
  top: 10px;
  right: 10px;
  // max-width: 250px;
  @media screen and (max-width: $mobile) {
    // display: none;
    top: 50%;
    right: 5px;
  }
}
.column {
  display: flex;
  width: 100%;
  flex-direction: column;
  gap: 15px;
}
.flex {
  width: 100%;
  display: flex;
  gap: 15px;
  align-items: center;
}
.name {
  color: #000;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  @media screen and (max-width: 1050px) {
    width: 60%;
  }
}
.email {
  color: var(--gray-2, #4f4f4f);
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}
.email_val {
  color: #000;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}

.perc_text {
  color: var(--gray-2, #4f4f4f);
  text-align: center;
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}
.perc_val {
  color: #005a5a;
  text-align: center;
  font-family: Inter;
  font-size: 32px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  @media screen and (max-width: 760px) {
    font-size: 20px;
  }
}
.box3 {
  display: flex;
  width: 30%;
  flex-direction: column;
  gap: 15px;
  @media screen and (max-width: 760px) {
    width: 100%;
  }
}
.y_balance {
  color: var(--gray-2, #4f4f4f);
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}
.balance {
  color: #000;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: uppercase;
}
.agent {
  display: flex;
  gap: 20px;
  color: #000;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}
.flex_column {
  display: flex;
  align-items: flex-end;
  gap: 16px;
  @media screen and (max-width: $mobile) {
    flex-direction: column;
  }
}
