@import "./AppConsts.scss";

@font-face {
  font-family: "Inter";
  src: url("./assets/fonts/Inter-Light.ttf");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Inter";
  src: url("./assets/fonts/Inter-Regular.ttf");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Inter";
  src: url("./assets/fonts/Inter-Medium.ttf");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Inter";
  src: url("./assets/fonts/Inter-SemiBold.ttf");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Inter";
  src: url("./assets/fonts/Inter-Bold.ttf");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Inter";
  src: url("./assets/fonts/Inter-ExtraBold.ttf");
  font-weight: 800;
  font-style: normal;
}

body {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
}

%button {
  min-width: 280px;
  height: 70px;
  background: $ORANGE;
  box-shadow: 0px 10px 30px rgba(205, 205, 205, 0.55);
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  color: #000000;

  @media screen and (max-width: 700px) {
    height: 70px;
  }
}

.orange_button {
  @extend %button;
  background: $ORANGE;
}

.orange_button_bshadow {
  @extend %button;
  background: $ORANGE;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.green_button {
  @extend %button;
  background: #80c0c0;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.green_button_w100 {
  @extend %button;
  background: #80c0c0;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  width: 100%;
}

.dark_green_button {
  // @extend %button;
  border: 1px solid #80c0c0;
  background: $GREEN;
  box-shadow: 0px 4px 20px 0px rgba(194, 225, 225, 0.47);
  min-height: 40px;
  padding: 5px;
  min-width: 150px;
  color: $WHITE;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;

  &:disabled {
    color: $GRAY_4;
    background: $WHITE;
    border: 1px solid $GRAY_4;
    cursor: not-allowed;
  }
}

.orange_button_s {
  border: 1px solid $ORANGE;
  background: $ORANGE;
  box-shadow: 0px 4px 20px 0px rgba(194, 225, 225, 0.47);
  min-height: 40px;
  min-width: 100px;
}

.outline_green_button {
  color: #005a5a;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  border: 1px solid #005a5a;
  box-shadow: 0px 10px 30px 0px rgba(205, 205, 205, 0.55);
  min-height: 40px;
  padding: 5px;
  min-width: 150px;

  &:disabled {
    opacity: 0.5;
  }
}

.outline_green_button_2 {
  color: #000;
  text-align: center;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  border: 1px solid $GREEN;
  min-height: 46px;
  padding: 5px;
  min-width: 150px;

  &:disabled {
    opacity: 0.5;
  }
}

%dark_orange_button {
  // @extend %button;
  background: $ORANGE;
  box-shadow: 0px 10px 30px 0px rgba(205, 205, 205, 0.55);

  min-height: 40px;
  padding: 5px;
  min-width: 150px;

  color: #000;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;

  &:disabled {
    opacity: 0.5;
  }
}

.dark_orange_button {
  @extend %dark_orange_button;
}

.dark_orange_button_w100 {
  @extend %dark_orange_button;
  width: 100%;
  min-height: 46px;
}

.outline_black_button {
  color: #000;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;

  border: 1px solid #000;
  box-shadow: 0px 10px 30px 0px rgba(205, 205, 205, 0.55);
  min-height: 40px;
  padding: 5px;
  min-width: 150px;

  &:disabled {
    opacity: 0.5;
  }
}

.orange_text {
  color: $ORANGE;
}

%gray_input {
  background: #f8f8f8;
  // box-shadow: inset 2px 2px 3px rgba(0, 0, 0, 0.2);
  // border-radius: 5px;
  min-height: 46px;
  //  width: 100%;
  font-size: 16px;
  padding: 10px;
  transition: all 0.5s;
  position: relative;

  &:focus-visible {
    transition: all 0.5s;
    outline-color: #f8f8f8;
  }

  &:focus {
    outline-color: #128eb8;
  }
}

.gray_input {
  @extend %gray_input;
}

.gray_input_w100 {
  @extend %gray_input;
  width: 100%;
}

.gray_input_mt {
  @extend %gray_input;
  margin-top: 20px;
}

.gray_input_mb {
  @extend %gray_input;
  margin-bottom: 20px;
}

.gray_input_mt40_w100 {
  @extend %gray_input;
  margin-top: 40px;
  width: 100%;
}

.gray_input_mt10_w100 {
  @extend %gray_input;
  margin-top: 10px;
  width: 100%;
}

.gray_input_mt40_w50 {
  @extend %gray_input;
  margin-top: 40px;
  width: 30%;

  @media screen and (max-width: 760px) {
    width: 100%;
  }
}

.required {
  color: #f50d62;
  font-weight: 600;
  font-size: 14px;
}

.absolute_left {
  position: absolute;
  top: 10px;
  right: 10px;
}

.page_container {
  width: 100%;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  color: #000000;
}

.page_inner_container {
  padding: 50px 0;

  @media screen and (max-width: 760px) {
    padding: 20px 0;
  }
}

.page_title {
  color: #005a5a;
  font-size: 20px;
  font-family: Inter;
  font-weight: 500;
  text-transform: uppercase;
  // padding-left: 20px;
}

.modal_title {
  color: #005a5a;
  font-size: 20px;
  font-family: Inter;
  font-weight: 500;
  margin-bottom: 20px;
}

%table_item {
  min-height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 5px;
  // flex: 1;
  // border: 1px solid red;
}

.table_row {
  width: 100%;
  gap: 5px;
  display: flex;
  padding: 5px 0;
  border-bottom: 1px solid #e0e0e0;
  min-height: 80px;

  &:hover {
    background: #f3f9f9;
  }

  &:first-child {
    // border-top: 1px solid #E0E0E0;
    min-height: 30px;

    &:hover {
      background: transparent;
    }
  }
}

.table_item_5 {
  @extend %table_item;
  width: 5%;

  @media screen and (max-width: 760px) {
    width: 100%;
  }
}

.table_item_7_5 {
  @extend %table_item;
  width: 7.5%;

  @media screen and (max-width: 760px) {
    width: 100%;
  }
}

.table_item_10 {
  @extend %table_item;
  width: 10%;

  @media screen and (max-width: 760px) {
    width: 100%;
  }
}

.table_item_12_5 {
  @extend %table_item;
  width: 12.5%;

  @media screen and (max-width: 760px) {
    width: 100%;
  }
}

.table_item_15 {
  @extend %table_item;
  width: 15%;

  @media screen and (max-width: 760px) {
    width: 100%;
  }
}

.table_item_20 {
  @extend %table_item;
  width: 20%;

  @media screen and (max-width: 760px) {
    width: 100%;
  }
}

.table_item_30 {
  @extend %table_item;
  width: 30%;

  @media screen and (max-width: 760px) {
    width: 100%;
  }
}

.table_item_40 {
  @extend %table_item;
  width: 40%;

  @media screen and (max-width: 760px) {
    width: 100%;
  }
}

.loadmore {
  color: var(--gray-2, #4f4f4f);
  font-size: 12px;
  font-family: Inter;
  font-weight: 300;
  cursor: pointer;

  &:hover {
    color: #005a5a;
    font-weight: 500;
  }
}

// ***************************************************

%main_button {
  background: linear-gradient(180deg, #9ad0c3 0%, #62aac6 100%);
  box-shadow: inset 0px -3px 0px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  color: white;
  min-height: 54px;
  min-width: none;
  font-size: 20px;
  line-height: 23px;
  text-shadow: 0px 2px 4px #177e64;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 20px;

  // transition-duration: 1s;
  &:hover {
    background: linear-gradient(180deg, #49dfbb 0%, #62aac6 100%);
    box-shadow: inset 0px -3px 0px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
  }

  &:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }
}

.main_button {
  @extend %main_button;
}

.main_button_s {
  @extend %main_button;
  min-height: 40px;
  font-size: 14px;
}

.main_button_w100 {
  @extend %main_button;
  width: 100%;
}

.main_button_mt40_w100 {
  @extend %main_button;
  margin-top: 40px;
  width: 100%;
}

.main_button_mt40_w50 {
  @extend %main_button;
  margin-top: 40px;
  width: 50%;

  @media screen and (max-width: 1050px) {
    width: 100%;
  }
}

.main_button_narrow {
  @extend %main_button;

  @media screen and (max-width: 1300px) {
    width: 100%;
    font-size: 14px;
  }

  @media screen and (max-width: 1050px) {
    width: 100%;
    font-size: 12px;
  }
}

.main_link {
  color: $GREEN;
  text-decoration: underline;
  font-weight: 500;
}

.divider {
  height: 1px;
  width: 100%;
  background: #bdbdbd;
}

// range
.input_range {
  width: 100%;

  input {
    // color: #62aac6;
    // background-color: #62aac6;

    // color: #62aac6;
    overflow: hidden;
    width: 100%;
    // background: linear-gradient(180deg, #9ad0c3 0%, #62aac6 100%);
    background-color: red;
    height: 10px;
    border-radius: 5px;
    // -webkit-appearance: progress-bar;
    -webkit-appearance: none;

    // writing-mode: bt-rl;
    // -ms-fill-lower {
    //   background-color: #f743e2;
    // }
    // background-color: #f743e2;
    // color:#f743e2
    &::-webkit-slider-thumb {
      -webkit-appearance: none;
      box-sizing: content-box;
      /* стили вашего бегунка */
    }

    &::-webkit-slider-runnable-track {
      background: #f743e2;
    }

    &::-ms-track {
      /* должен следовать после -webkit- */
      border-color: transparent;
      color: transparent;
      /* снова стили вашей дорожки */
    }
  }

  input[type="range"]::-moz-range-progress {
    background-color: #43e5f7;
  }

  input[type="range"]::-moz-range-track {
    background-color: #9a905d;
  }

  input::-webkit-slider-thumb {
    // background-color: white;
    // border: solid 9px #62aac6;
    border-radius: 0;
    height: 25px;
    width: 25px;
    border-radius: 50%;
    -webkit-appearance: none;
    // background: #f743e2;
  }

  input[type="range"] {
    // background: linear-gradient(180deg, #9ad0c3 0%, #62aac6 100%);;
    background-color: #9a905d;
  }

  input[type="range"]::-webkit-slider-runnable-track {
    // background: #f743e2;
    color: #13bba4;
  }
}
