// $ORANGE: #ff7f50;
$ORANGE: #EF865B;
$GRAY: #f8f8f8;
$BLACK: #377E7F;
$GREEN_LIGHT: #80c0c0;
// $GREEN: #008080; #005a5a
$GREEN: #377E7F;
$GRAY_4: #bdbdbd;
$WHITE: #fff;
$redtext: "#FF0000";
$greentext: "#00BC4B";

$mobile: "480px";
$tablet: "760px";
$laptop: "1280px";
$tab1060: "1160px";
