$ORANGE: #ff7f50;
$GRAY: #f8f8f8;
$GREEN_LIGHT: #80c0c0;
$GREEN: #008080;
$GRAY_4: #bdbdbd;
$WHITE: #fff;
$redtext: "#FF0000";
$greentext: "#00BC4B";

$mobile: "480px";
$tablet: "760px";
$laptop: "1280px";
$tab1060: "1160px";
